.possg-header {
  
  .kiosk-header {
    background-color: $color-white;
    width: 11rem;
    height: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

    .kiosk-header-item {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      transition: $transition-cb2;

      &:hover,
      &:hover .kiosk-home-icon {
        color: $color-main;
      }

      .kiosk-home-icon {
        color: $color-gray;
        font-size: 1.5rem;
        margin-right: 0.5rem;
        transition: $transition-cb2;
      }
    }
  }
}
