.order-detail-page {

  .order-detail-top {
    margin-bottom: 2rem;
  }

  .order-detail-middle {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1rem;
    padding: 0 4px;
    
    .order-status {
      margin-bottom: 0.5rem;
    }

    .number-date {
      display: flex;
      font-size: 0.875rem;

      .left, .right {
        margin-right: 2rem;

        > span {
          font-weight: bold;
        }
      }
    }

    .order-cancel {
      background-color: $color-point;
      color: $color-white;
      border: 1px solid $color-point;
      border-radius: 1rem;
      margin-left: 0.5rem;
      padding: 0.5rem 1rem;
      transition: $transition-cb2;

      &:hover {
        background-color: #e94606;
      }
    }
  }
}
