.analysis-wrap{
    background-color: $color-back;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10rem 10rem;

    .analysis-content-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        align-content: center;
        padding: 3.125rem 0;

        .analysis-content-title{
            padding-left: 1rem;
            margin-bottom: 1.5rem;
        }
    
        .analysis-content{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-row-gap: 2rem;
            grid-column-gap: 2rem;

                .analysis{
                    padding: 1.5rem;
                    background-color: $color-white;
                    border-radius: 2rem;
                    aspect-ratio: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-size: 1.5rem;
                    font-weight: bold;
                    word-break: keep-all;
                    transition: $transition-cb2;
                    border: 1px solid rgba($color-border, $alpha: 0.5);
                    filter: drop-shadow(2px 2px 2px rgba($color-border, $alpha: 0.5));
                }
                .analysis:hover {
                    color: $color-main;
                    transform: translate(-2px, -2px);
                    filter: drop-shadow(2px 2px 4px rgba($color-border, $alpha: 0.8));
                    cursor: pointer;
                }
        }
    }
}
