.cashSales-content-wrap{
    background-color: $color-back;
    width: 80vw;

    .cashSales-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.875rem;

        .cashSales-title {
            text-align: center;
        }

        .cashSales-calendar-container{
            position: relative;
            
            .material-symbols-rounded{
                position: absolute;
                padding: 10px 20px;
                top: 7px;
                left: 10px;
                color: $color-main;
            }
            .calendar-button{
                position: absolute;
                padding: 10px 20px;
                top: 7px;
                right: 5px;
                background-color: $color-main;
                color: $color-white;
                border-radius: 1rem;
            }
        }
    }

    .cashSales-content-wrap{
        padding: 20px 0;
        
        .cashSales-data-container{
            margin: 0 auto;
            background-color: $color-white;
            border-radius: 1rem;
            filter: drop-shadow(2px 2px 2px rgba($color-border, $alpha: 0.5));
            display: flex;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            padding: 20px 0;

            .cashSales-piechart{
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                width: 500px;
            }

            .cashSales-data-content{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 4rem;
                grid-column-gap: 3.5rem; 
                width: 500px;

                .cashSales-data{
                    .cashSales-data-title{
                        font-weight: bold;
                        margin-bottom: 20px;
                        
                    }

                    .cashSales-data-amount{
                        font-weight: bold;
                        color: $color-red;
                        font-size: 20px;
                    }
                }
            }
        }

        .cashSales-barchart-datas{
            padding: 8rem 4rem;
            background-color: $color-white;
            border-radius: 1rem;
            filter: drop-shadow(2px 2px 2px rgba($color-border, $alpha: 0.5));
            margin: 30px 0px;
            padding: 30px 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;

            .cashSales-barchart-title{
                font-weight: bold;
                font-size: 1.25rem;
                margin-bottom: 1.875rem;
            }

            .cashSales-barchart{
                margin-bottom: 1.875rem;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                

                canvas{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    padding-left: 100px;
                }
                
            }

            .cashSales-datas-container{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-row-gap: 3.5rem;
                grid-column-gap: 3.5rem;      
                
                    .cashSales-card-detail{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                        .cashSales-card-title{
                            margin-right: 20px;
                        }

                        .cashSales-card-amount{
                            font-weight: bold;
                            font-size: 20px;
                        }
                    }
            }      
        }
        .cashSales-no-datas{
            padding: 8rem 4rem;
            background-color: $color-white;
            border-radius: 1rem;
            filter: drop-shadow(2px 2px 2px rgba($color-border, $alpha: 0.5));
            margin: 30px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;

            p{
                color: $color-red;
            }

            .material-symbols-rounded{
                color: $color-red;
            }
            
        }
    }

    .cashSales-date-message{
        text-align: center;
        background-color: $color-white;
        border-radius: 1rem;
        padding: 8rem 4rem;
        filter: drop-shadow(2px 2px 4px rgba(235, 235, 235, 0.8));

        .select-icon{
            font-size: 5rem;
        }

        .select-date-text {
            margin-top: 1rem;
            line-height: 1.2;
        }
    }
}