.cashSale-content-wrap{
    background-color: $color-back;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw 10vw;

    .cashSale-sort-wrap{
        width: 80vw;

        .cashSale-sort {
            border-radius: 1rem;
            background-color: $color-white;
            position: relative;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 1rem 0;
            margin-bottom: 1.875rem;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: bold;
            z-index: 0;
            border: 1px solid $color-border;
        
            .cashSale-sort-active {
                position: absolute;
                background-color: $color-main;
                border-radius: 1rem;
                width: 33.33%;
                height: 100%;
                top: 0;
                z-index: -1;
                transition: all 0.5s;
            }
        
            .status-01 {
                left: 0;
            }
            .status-02 {
                left: 33.33%;
            }
            .status-03 {
                left: 66.66%;
            }
    }
    
        .cashSale-status {
            cursor: pointer;
        }
    }

    .cashSale-content{
        width: 80vw;
        height: 100%;
    }
}

.react-datepicker__input-container input {
    border-radius: 1rem;
    background-color: $color-white;
    border: 1px solid $color-border;
    padding: 1rem 32px 1rem 8px;
    width: 20vw;
    text-align: center;
}

