.cost-content-wrap{
    background-color: $color-back;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 130px 0;

    .cost-content{
        .list-btn{
            display: flex;
            justify-content: right;
            margin-bottom: 1.25rem;
            padding-right: 10px;
        
            button{
                padding: 10px 20px;
                background-color: $color-main;
                color: $color-white;
                border-radius: 1rem;
            }
        }

        .link-content{
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 2rem;
            grid-column-gap: 2rem;

                .cost{
                    padding: 3.75rem;
                    background-color: $color-white;
                    border-radius: 2rem;
                    aspect-ratio: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-size: 1.5rem;
                    font-weight: bold;
                    word-break: keep-all;
                    transition: $transition-cb2;
                    border: 1px solid rgba($color-border, $alpha: 0.5);
                    filter: drop-shadow(2px 2px 2px rgba($color-border, $alpha: 0.5));
                }

                .cost:hover {
                    color: $color-main;
                    transform: translate(-2px, -2px);
                    filter: drop-shadow(2px 2px 4px rgba($color-border, $alpha: 0.8));
                    cursor: pointer;
                }
            }
        }
    }


