.imcome-content-wrap{
    background-color: $color-back;
    padding: 3vw 10vw;
    min-height: 100vh;

    .imcome-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .imcome-title {
            font-size: 2rem;
            text-align: center;
        }

        .imcome-calendar-container{
            position: relative;
            
            .material-symbols-rounded{
                position: absolute;
                padding: 10px 20px;
                top: 7px;
                left: 10px;
            }

            .calendar-button{
                position: absolute;
                padding: 10px 20px;
                top: 7px;
                right: 5px;
                background-color: $color-main;
                color: $color-white;
                border-radius: 1rem;
            }
        }

    }

    .imcome-content{
        margin: 50px 0;

        .imcome-data-container{
            margin: 0 auto;
            padding: 10px 0;
            // border: 1px solid $color-border;
            background-color: $color-white;
            border-radius: 1rem;
            filter: drop-shadow(2px 2px 2px rgba($color-border, $alpha: 0.5));
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-row-gap: 3rem;
            grid-column-gap: 2rem;
            
            
            .imcome-data{
                padding: 30px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                

                .imcome-data-title{
                    font-weight: bold;
                    margin-bottom: 1.25rem;
                }

                .imcome-data-amount{
                    font-size: 24px;
                    font-weight: bold;
                    color: #f95a00;
                }
            }
        }

        .imcome-chart{
            padding: 4rem;
            // border: 1px solid $color-border;
            background-color: $color-white;
            border-radius: 1rem;
            filter: drop-shadow(2px 2px 2px rgba($color-border, $alpha: 0.5));
            margin: 30px 0px;
        }
    }
}