.imcomeReport-content-wrap{
    background-color: $color-back;
    padding: 3vw 10vw;
    min-height: 100vh;

    .imcomeReport-sort-wrap{
        width: 75%;
        margin-left: 170px;

        .imcomeReport-sort {
            border-radius: 1rem;
            background-color: $color-white;
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 1rem 0;
            margin-bottom: 1.5rem;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: bold;
            z-index: 0;
            border: 1px solid $color-border;
        
            .imcomeReport-sort-active {
                position: absolute;
                background-color: $color-main;
                border-radius: 1rem;
                width: 50%;
                height: 100%;
                top: 0;
                z-index: -1;
                transition: all 0.5s;
            }
        
            .status-01 {
                left: 0;
            }
            .status-02 {
                left: 50%;
            }
    }
    
        .imcomeReport-status {
            cursor: pointer;
        }
    }

    .imcomeReport-content{
        width: 80vw;
        height: 100%;
    }
}
