/* updateCost-content-wrap */
.updateCost-content-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-back;
    padding: 5vw 10vw;
    min-height: 100vh;

    .updateCost-nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;

        // title
        .updateCost-title{
            font-size: 2rem;
            text-align: center;
        }

        .updateCost-calendar-container{
            position: relative;

            .react-datepicker__input-container input {
                border-radius: 1rem;
                background-color: $color-white;
                border: 1px solid $color-border;
                padding: 1rem 25px 1rem 10px;
                width: 15vw;
                text-align: center;
            }

            .material-symbols-rounded{
                position: absolute;
                padding: 10px 20px;
                top: 7px;
                left: 10px;
            }

            .calendar-button{
                position: absolute;
                padding: 10px 20px;
                top: 7px;
                right: 5px;
                background-color: $color-main;
                color: $color-white;
                border-radius: 1rem;
            }
        }

    }

    // content
    .updateCost-content {
        display: flex;
        justify-content: center;
        margin: 50px;
        padding: 2rem;
        text-align: center;
        border-radius: 1rem;
        margin-bottom: 1.5rem;
        filter: drop-shadow(2px 2px 4px rgba($color-border, $alpha: 0.8));
        background-color: $color-white;

        .updateCost-info{
            margin-right: 60px;
        }

        .info-container {
            position: relative;
            margin: .625rem 0;
            height: 60px;  
        }

        input {
            border: 1px solid $color-border;
            border-radius: 12px;
            padding: 1rem 1.25rem;
            width: 20vw;
            transition: all 0.2s;
        }

        input:focus {
            border-color: $color-main;
        }

        label span {
            position: absolute;
            top: 18px;
            left: 20px;
            padding: 0 4px;
            font-size: 1rem;
            color: rgba($color: $color-gray, $alpha: 0.5);
            transition: all 0.2s;
        }

        input:focus + label span,
        input:valid + label span {
            position: absolute;
            top: -4px;
            left: 20px;
            padding: 0 4px;
            font-size: 1rem;
            color: $color-main;
            background: linear-gradient($color-back, $color-white);
        }

        .info-container button {
            padding: 15px 1rem;
            background-color: $color-main;
            color: $color-white;
            font-weight: bold;
            border-radius: 32px;
            width: 20vw;
        }

        .updateCost-keypad{
            margin-left: 60px;
            padding-top: 25px;

            .button-common {
                background-color: $color-white;
            }
        }

        .keypad-container{
            // background-color: burlywood;
            display: flex;
            justify-content: center;

            .save-btn{
                padding: 15px 1rem;
                background-color: $color-main;
                color: $color-white;
                font-weight: bold;
                border-radius: 12px;
                width: 15vw;
            }
        }

        
    }
}

