.cashpayreceipt{
    
    .cashpayreceipt-header{
        margin-top: 6px;
        border-bottom: 1px solid $color-border;
        padding-bottom: 1rem ;
        .cashpayreceipt-header-title{
            font-weight: bold;
            font-size: 1.2rem;
        }
    }

    .cashpayreceipt-body{
        text-align: center;
        padding: 0 1.5rem;
        .cashpayreceipt-body-top{
            margin-top: 0.5rem;
            .cashpayreceipt-body-top-img{
                font-size: 3rem;
            }
            .cashpayreceipt-body-top-title{
                font-size: 1.5rem;
                font-weight: 600;
                margin-top: 0.5rem;
            }
            .cashpayreceipt-body-top-text{
                margin-top: 1.5rem;
            }
        }
        .cashpayreceipt-body-middle{
            display: flex;
            justify-content: space-between;
            font-size: 1.2rem;
            font-weight: 500;
            margin-top: 3rem;
            border-bottom: 1px solid $color-border;
            padding-bottom: 1.5rem;
            .cashpayreceipt-body-middle-price{

            }
            .cashpayreceipt-body-middle-price2{

            }
        }
        .cashpayreceipt-body-bottom{
            border-bottom: 1px solid $color-border;
            padding-bottom: 1.5rem;
            .cashpayreceipt-input-price{
                display: flex;
                margin-top: 1.5rem; 
                justify-content: space-between;
                font-weight: 400;
            }
            .cashpayreceipt-change{
                display: flex;
                margin-top: 1.3rem; 
                justify-content: space-between;
                font-weight: 400;
            }

        }
    }

    .cashpayreceipt-buttons{
        padding: 0 1.3rem;
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;
        .cashpayreceipt-btn{
            height: 3rem;
            color: $color-main;
            border: 1px solid $color-main;  
            border-radius: 0.5rem;
            cursor: pointer;
            font-size: 1rem;
            width: 48%;
        }

        .cashpayreceipt-btn:hover{
            background-color: $color-main;
            color: white;
            transition: 0.3s;
        }
        .cashpayreceipt-complete-btn{
            height: 3rem;
            color: $color-white;
            background-color: $color-main;
            border: 1px solid $color-main;  
            border-radius: 0.5rem;
            cursor: pointer;
            font-size: 1rem;
            width: 48%;
        }


    }
}