.payment-container{
    min-height: calc(100vh - 4rem);
   
    .payment-header{
        border-bottom: 2px solid $color-border;
        height: 4rem;
        padding-left: 2rem;
        display: flex;
        align-items: center;

        .input-barcode{
            opacity: 0;
        }
    }
    
    .payment-body{
        display: flex;
        min-height: calc(100vh - 15vh);
        .payment-list{
            width: 30%;
            border-right: 2px solid $color-border;
            .payment-list-list{
                border-bottom: 2px solid $color-border;
                height: 33rem;
                .payment-list-row{
                    border-bottom: 1px solid $color-border;
                    padding-bottom: 1rem;
                    .payment-list-row-info{
                        display: grid;
                        grid-template-columns: 2fr 1fr 1fr;
                        padding: 2rem 2rem 0rem 2rem;
                        .payment-list-name{
                            font-weight: 500;
                        }
                        .payment-list-amount{
                            color: #b1b2b2;
                        }
                        .payment-list-price{
                            font-weight: 500;
                        }
                    }
                    .payment-list-discount-info{
                        padding: 10px 3rem 0 3rem;
                        display: flex;
                        justify-content: space-between;
                        .payment-list-discount{
                            color: $color-point;
                        }
                        .payment-list-discount2{
                            color: $color-point;
                        }
                    }
                }
            }
            .payment-list-result{
                // height: 10.75rem;
                display: flex;
                justify-content: space-between;
                padding: 2rem;
                font-weight: bold;
                font-size: 1.2rem;
                .payment-list-total{
                    
                }
                .payment-list-total2{

                }
            }
        }

        .payment-method-container{
            background-color: $color-back;
            width: 70%;
            display: flex;
            justify-content: center;
            .container{
                .payment-total{
                    padding-top: 4rem;
                    font-size: 1.2rem;
                    font-weight: 500;
                    
                }

                .payment-total-container{
                    display: flex;
                    justify-content: center;
                    justify-content: space-between;
                    padding-top: 1rem;
                    .payment-total-price{
                        font-size: 2.5rem;
                        font-weight: 500;
                        color: $color-point;
                    }
                    .payment-division-button{
                        background-color: $color-white;
                        border: 1px solid $color-border;
                        border-radius: 0.5rem;
                        font-weight: 600;
                        cursor: pointer;
                        font-size: 1rem;
                        width: 10rem;
                        height: 4rem;
                        filter: drop-shadow(2px 2px 4px rgba($color-border, $alpha: 0.8));

                    }
                    
                }

            .payment-method-container2{
                width: 100%;
                margin-top: 9rem;
                .payment-method-top{
                    display: flex;
                    gap: 1rem;
                    .payment-method-discount, .payment-method-point{
                        background-color: $color-white;
                        border: 1px solid $color-border;
                        font-size: 1rem;
                        font-weight: 600;
                        width: 20rem;
                        height: 10rem;
                        border-radius: 0.5rem;
                        filter: drop-shadow(2px 2px 4px rgba($color-border, $alpha: 0.8));
                    }
                    
                }
                    .payment-method-bottom{
                        gap: 1rem;
                        display: flex;
                        margin-top: 1rem;
                        .payment-method-cardpay, .payment-method-cashpay{
                            background-color: $color-main;
                            border: 1px solid $color-main;
                            color: $color-white;
                            font-size: 1rem;
                            font-weight: 500;
                            width: 13rem;
                            height: 7rem;
                            border-radius: 0.5rem;
                            filter: drop-shadow(1px 1px 2px rgba($color-gray, $alpha: 0.5));
                            
                        }
                       
                        .payment-method-etcpay{
                            background-color: #4e5059;
                            
                            color: $color-white;
                            font-size: 1rem;
                            font-weight: 500;
                            width: 13rem;
                            height: 7rem;
                            border-radius: 0.5rem;
                            filter: drop-shadow(1px 1px 2px rgba($color-gray, $alpha: 0.5));
                        }
                    }

                }
            }
        }
    }
}