.delivery-detail-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .delivery-detail {
    background-color: $color-white;
    border-radius: 2rem;
    width: 74%;
    height: auto;
    display: grid;
    grid-template-rows: 3.75rem auto 5rem;
    filter: drop-shadow(2px 2px 2px rgba($color-border, $alpha: 0.5));

    .item-top, .item-middle, .item-bottom {
      padding: 0 3rem;
    }

    .item-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $color-main;
      border-radius: 2rem 2rem 0 0;
      border-bottom: 1px solid $color-border;

      > div {
        font-weight: bold;
        font-size: 1.25rem;
      }
    }

    .item-middle {
      margin-top: 3rem;
      margin-bottom: 2rem;

      .item-info {
        margin-bottom: 2.25rem;

        .total-price {
          font-weight: bold;
          font-size: 2rem;
          margin-bottom: 2rem;
        }

        .delivery-ref {
          margin-bottom: 0.5rem;

          > span {
            font-weight: bold;
            margin-right: 1rem;
          }
        }

        .delivery-location {
          margin-bottom: 0.5rem;

          > span {
            font-weight: bold;
            margin-right: 2.7rem;
          }
        }
      }

      .item-product-container {

        .item-index {
          font-weight: bold;
          padding-top: 1rem;
          padding-bottom: 1rem;
          border-top: 1px solid $color-border;
          border-bottom: 1px solid $color-border;
        }

        .item-product {
          display: grid;
          grid-template-columns: 3fr 1fr 1fr 1fr;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          margin-bottom: 1.5rem;

          .item-product-name {
            text-align: left;
            padding-left: 0.5rem;
          }
        }
      }
    }

    .item-bottom {
      display: flex;
      justify-content: center;
      align-items: start;

      .delivery-text {
        font-weight: bold;
      }

      .status-4, .status--1 {
        font-size: 1.5rem;
      }

      .status-4 {
        color: $color-green;
      }
      .status--1 {
        color: $color-red;
      }

      .receipt-btn, .cancel-btn {
        border: 1px solid $color-border;
        border-radius: 2rem;
        padding: 0.5rem 1.5rem;
      }

      .receipt-btn {
        background-color: $color-white;
        border: 1px solid $color-main;
        color: $color-main;
        transition: $transition-cb2;

        &:hover {
          background-color: $color-main;
          color: $color-white;
        }
      }

      .cancel-btn {
        margin-left: 0.5rem;
        background-color: $color-white;
        border: 1px solid $color-point;
        color: $color-point;
        transition: $transition-cb2;

        &:hover {
          background-color: $color-point;
          color: $color-white;
        }
      }
    }
  }
}