.delivery-map {
  height: 100%;
  padding: 3rem 1rem 1rem 1rem;
  display: grid;
  grid-template-rows: 3fr 1fr;
  
  .delivery-map-top {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .delivery-map-search, .delivery-map-image {
      width: 49%;
    }

    .delivery-map-search {
      height: 100%;

      > div > div {
        border-radius: 1rem;
      }
    }

    .delivery-map-image {
      background-color: $color-gray;
      border: 1px solid $color-border;
      border-radius: 1rem;
    }
  }

  .delivery-map-bottom {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
      margin: 0.5rem 0;
    }

    .delivery-map-title {
      font-weight: bold;
    }

    .delivery-map-data {
      font-size: .875rem;
      margin-top: 0.5rem;
    }

    .delivery-regi-btn {
      background-color: $color-main;
      color: $color-white;
      border: 1px solid $color-main;
      border-radius: 1rem;
      padding: 0.5rem 1rem;
      transition: $transition-cb2;

      &:hover {
        background-color: #F0A20A;
        border-color: #F0A20A;
      }

      &:disabled {
        background-color: $color-main;
        // border-color: rgba($color-gray, $alpha: 0.5);
        // border: none;
      }
    }
  }
}