/* login-content-wrap */
.login-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-content-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: $color-back;
    margin-bottom: 1.5rem;

    .login-logo {
        margin-bottom: 3rem;
        width: 100%;
        text-align: center;
    }

    // title
    .login-title{
        font-size: 2rem;
        text-align: center;
        padding-bottom: 2rem;
    }

    // content
    .login-content{
        background-color: $color-back;
        width: 100vw;
        
        .form-row {
            text-align: center;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            background-color: $color-back;

            .input-container {
                position: relative;
                margin: 0.5rem 0; 

                input {
                    border: 1px solid $color-border;
                    border-radius: 32px;
                    padding: 1rem 1.25rem;
                    // width: 30vw;
                    width: 25rem;
                    transition: all 0.2s;
                }
                input:focus {
                    border-color: $color-main;
                }
                label span {
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    padding: 0 4px;
                    font-size: 1rem;
                    color: rgba($color: $color-gray, $alpha: 0.5);
                    transition: all 0.2s;
                }
    
                input:focus + label span,
                input:valid + label span {
                    position: absolute;
                    top: -4px;
                    left: 20px;
                    padding: 0 4px;
                    font-size: 1rem;
                    color: $color-main;
                    background: linear-gradient($color-back, $color-white);
                }               
            }
            .check-container{
                display: flex;
                align-items: center;
                // width: 30vw;
                width: 25rem;
                margin-top: 0.5rem;
                padding-left: 2rem;
                font-size: .875rem;

                input{
                    accent-color: $color-main;
                    zoom: 1.2;
                }
            }

            // button
            .btn-container{
                padding: 1.5rem 0;

                button{
                    margin-top: 0.75rem;
                    padding: 15px 1rem;
                    background-color: $color-main;
                    color: $color-white;
                    font-weight: bold;
                    text-align: center;
                    border-radius: 32px;
                    // width: 20vw;
                    width: 25rem;
                    cursor: pointer;
                    transition: $transition-cb2;

                    &:hover {
                        background-color: #F0A20A;
                    }
                }
            }   
        }
        // link
        .link-container{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding-top: 20px;

            .login-link {
                // margin: 0 1.5rem;
                transition: $transition-cb2;
                color: rgba($color-gray, $alpha: 0.8);
                font-size: .875rem;

                &:hover {
                    color: $color-main;
                }
            }

            .login-bar {
                margin: 0 1rem;
                font-size: .625rem;
                font-weight: bold;
                color: rgba($color-gray, $alpha: 0.8);
            }
        }
    }

}