/* mypage-content-wrap */
.mypage-content-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-back;
    padding: 5vw 10vw;
    min-height: 100vh;

    // title
    .mypage-title{
        font-size: 2rem;
        text-align: center;
        margin: 2.5rem;
    }

    // content
    .mypage-content {
        background-color: $color-back;
        width: 100vw;
        height: 100vh; 
        
        .form-row {
            text-align: center;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            background-color: $color-back;
            
            .mypage-container {
                position: relative;
                margin: 1.5rem 0;
                height: 60px;

                input {
                    border: 1px solid $color-border;
                    border-radius: 32px;
                    padding: 1rem 1.25rem;
                    width: 40vw;
                }

                input:focus {
                    border-color: $color-main;
                }

                label span {
                    position: absolute;
                    top: -4px;
                    left: 20px;
                    padding: 0 4px;
                    font-size: 1rem;
                    color: rgba($color: $color-gray, $alpha: 0.5);
                }

                input:focus + label span,
                input:valid + label span {
                    position: absolute;
                    top: -4px;
                    left: 20px;
                    padding: 0 4px;
                    font-size: 1rem;
                    color: $color-main;
                    background: linear-gradient($color-back, $color-border);
                }

                .readonly-input {
                    pointer-events: none; /* 입력 이벤트 비활성화 */
                    border: 1px solid $color-main;
                    background-color: $color-border;
                }
            }
        }
        .btn-container{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-back;
            padding: 1.5rem 0;

            button {
                padding: 15px 1rem;
                margin-bottom: 50px;
                background-color: $color-main;
                color: $color-white;
                font-weight: bold;
                border-radius: 32px;
                width: 20vw;
            }
        }
    }
}

