.attendancecheck-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .attendancecheck {
    .attendancecheck-title,
    .attendancecheck-subtitle {
      margin-left: 0.5rem;
    }

    .attendancecheck-title {
      // font-size: 1.3rem;
      // font-weight: 600;
      font-weight: bold;
    }

    .attendancecheck-subtitle {
      margin-top: 1rem;
      // font-size: 1.2rem;
      // font-weight: 400;
    }

    .attendancecheck-input {
      margin-top: 1.5rem;
      background-color: $color-white;
      border: 1px solid $color-border;
      border-radius: 1rem;
      padding: 0.5rem 1rem;
      transition: $transition-cb2;
    }

    .attendancecheck-input::placeholder {
      opacity: 0.8;
    }

    .attendancecheck-input:focus {
      border: 1px solid $color-main;
    }

    .attendancecheck-btn {
      margin-left: 0.5rem;
      background-color: $color-main;
      // color: $color-point;
      color: $color-white;
      // border: 1px solid $color-point;
      border: 1px solid $color-main;
      border-radius: 1rem;
      // padding: 10px 20px;
      padding: 0.5rem 1rem;
      cursor: pointer;
      // font-size: 1rem;
      transition: $transition-cb2;

      &:hover {
        background-color: #f0a20a;
        border-color: #f0a20a;
      }
    }
  }
}
