.employeeinfo{


    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
      }
      
      th, td {
        border: 1px solid #33ff00;
        text-align: center;
        padding: 8px;
      }
      
      /* 헤더 배경색 */
      th {
        background-color: #f2f2f2;
      }
    
    }