.product-page {
  background-color: $color-back;
  padding: 3vw 10vw;
  min-height: 100vh;

  .product-test {
    max-width: 1100px;
    margin: 0 auto;
  }

  .product-page-title {
    margin-bottom: 2rem;
    margin-left: 8px;
  }

  /* product nav */
  .product-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 8px 1.5rem 8px;

    .product-nav-filter {

      > button {
        background-color: $color-white;
        font-weight: bold;
        border-radius: 1rem;
        margin-right: 4px;
        padding: 0.5rem 1rem;
        border: 1px solid $color-border;
        transition: $transition-cb2;
      }

      > button:hover {
        background-color: $color-main;
      }
  
      .active-btn {
        background-color: $color-main;
      }
    }

    .product-nav-search {
      position: relative;
      margin: 0 1rem;
      flex-grow: 1;

      > input {
        background-color: $color-white;
        border: 1px solid $color-border;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        transition: $transition-cb2;
        width: 100%;
      }

      > input::placeholder {
        opacity: 0.8;
      }

      > input:focus {
        border: 1px solid $color-main;
      }

      > button {
        position: absolute;
        top: 0.5rem;
        right: 8px;
      }

      .product-search {
        pointer-events: none;
      }
    }

    .product-nav-sort:hover {
      cursor: pointer;
    }

    .product-nav-sort {
      position: relative;
      border-radius: 1rem;
      background-color: $color-white;

      > select {
        position: relative;
        -o-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        border: 1px solid $color-border;
        border-radius: 1rem;
        padding: 0.5rem 2rem 0.5rem 1rem;
        z-index: 2;
        transition: $transition-cb2;
      }

      > select:hover {
        cursor: pointer;
        border: 1px solid $color-main;
      }

      > span {
        position: absolute;
        top: 0.5rem;
        right: 8px;
        z-index: 1;
      }
    }
    
  }

  /* no-product */ 
  .product-noitem {
    width: 100%;
    text-align: center;
    padding: 5rem;
  }

  /* product list */
  .product-item-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-row-gap: 1.5rem;
    grid-column-gap: 1rem;
    margin: 0 auto;

    /* product item */
    .product-item:hover {
      transform: translate(-2px, -2px);
      filter: drop-shadow(2px 2px 4px rgba($color-border, $alpha: 0.8));
      cursor: pointer;
    }

    .product-item {
      position: relative;
      background-color: $color-white;
      border-radius: $border-r32;
      padding: 2rem 2rem;
      width: 100%;
      height: 100%;
      max-width: 248px;
      min-width: 212px;
      min-height: 360px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      transition: $transition-cb2;
      filter: drop-shadow(2px 2px 2px rgba($color-border, $alpha: 0.5));

      .product-soldout {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: $border-r32;
        background-color: rgba($color-gray, $alpha: 0.5);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;

        .product-soldout-title {
          color: $color-white;
          font-size: 2rem;
          margin-bottom: 1.5rem;
          text-shadow: 2px 2px 4px $color-gray;
        }

        button {
          background-color: $color-white;
          border-radius: 50px;
          padding: 0.2rem 1rem;
          transition: $transition-cb2;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        }

        button:hover {
          background-color: $color-main;
        }
      }

      .product-promotion {
        display: flex;
        justify-content: right;

        .promo {
          padding: 6px 8px;
          font-size: 0.75rem;
          font-weight: bold;
          color: $color-white;
          border-radius: 1rem;
        }

        .promotion1 {
          background-color: $color-white;
          opacity: 1;
        }
        .promotion2 { // 세일
          background-color: #e8642a;
        }
        .promotion3 { // 덤증정
          background-color: #63d4fa;
        }
        .promotion4 { // 1+1
          background-color: #f9bb00;
        }
        .promotion5 { // 2+1
          background-color: #f88a5b;
        }
      }

      .product-image {
        margin-bottom: 1rem;
        
        .product-image-box {
          width: 100%;

          > img {
            width: 100%;
            object-fit: cover;
          }
        }
      }

      .product-name {
        font-size: 1.125rem;
        font-weight: bold;
        margin-bottom: 0.75rem;
        line-height: 1.5rem;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .product-price {
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;

        .product-price-normal {
          color: $color-point;
          font-weight: bold;
        }

        .product-price-origin {
          color: #999999;
          text-decoration: line-through;
        }

        .product-price-sale {
          color: $color-point;
          font-weight: bold;
          margin-left: 1rem;
        }
      }

      .product-stock {
        font-size: 0.75rem;
        color: #999999;
      }
    }
  }
}