/* customerRegi-content-wrap */
.customerRegi-content-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-back;
    padding: 5vw 10vw;
    min-height: 100vh;

    // title
    .customerRegi-title{
        font-size: 2rem;
        text-align: center;
        margin: 30px;
        
    }

    // content
    .customerRegi-content {
        width: 100vw;
        display: flex;
        justify-content: center;
        margin: 50px;

        .customerRegi-info{
            margin-right: 60px;
            padding-top: 20px;
        }

        .info-container {
            position: relative;
            margin: 2.5rem 0;
            height: 60px;
            
        }

        input {
            border: 1px solid $color-border;
            border-radius: 32px;
            padding: 1rem 1.25rem;
            width: 20vw;
            transition: all 0.2s;
        }

        input:focus {
            border-color: $color-main;
        }

        label span {
            position: absolute;
            top: 18px;
            left: 20px;
            padding: 0 4px;
            font-size: 1rem;
            color: rgba($color: $color-gray, $alpha: 0.5);
            transition: all 0.2s;
        }

        input:focus + label span,
        input:valid + label span {
            position: absolute;
            top: -4px;
            left: 20px;
            padding: 0 4px;
            font-size: 1rem;
            color: $color-main;
            background: linear-gradient($color-back, $color-white);
        }

        .info-container button {
            padding: 15px 1rem;
            background-color: $color-main;
            color: $color-white;
            font-weight: bold;
            border-radius: 32px;
            width: 20vw;
        }

        .customerRegi-keypad{
            margin-left: 60px;
            padding-top: 40px;
            // background-color: $color-white;
            // border-radius: 1rem;
            // border: 1px solid $color-border;

            .button-common {
                background-color: $color-white;
            }
        }
    }
}

