@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css');

* {
  color: $color-gray;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -0.025rem;
}

body,
button,
input,
textarea,
select,
option {
  color: $color-gray;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
}

.page-title {
  // margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.tossface {
  font-family: Tossface;
}