$color-main: #f9bb00;
$color-back: #f9fafb;
$color-gray: #4e5059;
$color-point: #f95a00;
$color-white: #ffffff;
$color-border: #ebebeb;

$color-red: #eb4d3d;
$color-green: #64c266;

$border-r16: 16px;
$border-r32: 32px;

$transition-cb2: all 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
$transition-cb5: all 0.5s cubic-bezier(0.25, 0.25, 0.75, 0.75);

$header-height: 2.5rem;
